
{include file="public/head,public/nav"}


<div class="container">
    <div class="top-container">
        <div class="mid-area">
            <div class="slide-holder" id="slide-holder">
                <a href="#" class="slide-prev"><i class="slide-arrow-left"></i></a>
                <a href="#" class="slide-next"><i class="slide-arrow-right"></i></a>
                <ul class="slideshow">
                    <li><a href="" class="item-large"><img class="ad-pic" src="/upload/20170219/datu.jpg" /></a></li>
                    <li><a href="" class="item-large"><img class="ad-pic" src="/upload/20170219/datu.jpg" /></a></li>
                </ul>
            </div>
            <div class="list-container">

            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="right-ad">
            <ul class="slidepic">
                <li><a><img src="/upload/20170219/ads.jpg" width="259px" /></a></li>
            </ul>
        </div>

    </div>
    <div class="content-container">
        <div class="no-recom-container">
            <div class="floor-content-start">

                <div class="floor-content">
                    <div class="floor-header">
                        <h3>美食推荐</h3>
                        <ul class="reco-words">
                            <li><a href="" target="_blank"></a></li>

                            <li><a class="no-right-border no-right-padding" target="_blank" href="">全部<span class="all-cate-arrow"></span></a></li>
                        </ul>
                    </div>
                    <ul class="itemlist eight-row-height">
                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="" />
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p></p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span></span>
                                    <span class="ori-price">价值<span class="price-line">¥<span></span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>
                        <span style="color:red;font-size:24px;">该城市下没有此分类数据 </span>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer-content">
    <div class="copyright-info">

    </div>
</div>

</body>
</html>