<div class="search">
    <a href="/"><img src="__STATIC__/index/image/logo.png" /></a>

</div>

<div class="nav-bar-header">
    <div class="nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <span class="item">全部分类</span>
                <div class="left-menu">
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_blank"></a></dt>
                                <dd><a href="" target="_blank" class=""></a></dd>

                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>其他分类</h3>
                                    <ul>

                                        <li> <a target="_blank" href=""</a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item"><a href="/" class="item first active">首页</a></li>
            <li class="nav-item"><a class="item">团购</a></li>
            <li class="nav-item"><a class="item">商户</a></li>
        </ul>
    </div>
</div>